// Import Bootstrap
@import '/node_modules/bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300;500;700&display=swap');

// Base Style
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  overflow-x: hidden;
}

.w_auto {
  width: auto;
}

.box_even {
  transform: translateX(-400%);
}

.box_odd {
  transform: translateX(400%);
}

.show_box {
  transform: translateX(0);
  transition: transform 0.5s linear;
}